.loader {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;

    background-color: #EC4F43;
}
.loader__icon {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center center;
    animation: spin 1.5s linear infinite;
}
@keyframes spin {
    0% {
        transform-origin: center center;
        transform: translate(-50%, -50%) rotate(0deg);
    }
    50% {
        transform-origin: center center;
        transform: translate(-50%, -50%) rotate(180deg);
    }
    100% {
        transform-origin: center center;
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
