.driver__controls {
    width: 73px;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}

.driver__button {
    width: 30px;
    height: 30px;
    margin: 3px;
    position: relative;
    border: none;
    border-radius: .6em;
    background-color: #495464;
    cursor: pointer;
}

.driver__button:focus {
    outline: none;
    border: 2px solid #325855;
    border-radius: .6em;
}

.driver__button.active {
    background-color: rgba(61, 106, 102, 0.561);
}

.driver__button-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 22px;
    height: 22px;
    fill: #fff;
}