.driver__controls {
    width: 73px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.driver__button {
    width: 30px;
    height: 30px;
    margin: 3px;
    position: relative;
    border: none;
    border-radius: .6em;
    background-color: #fff;
    cursor: pointer;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
}

.driver__button:focus {
    outline: none;
    border: 2px solid #EC4F43;
    border-radius: .6em;
}

.driver__button.active {
    background-color: #FE948D;
}

.driver__button-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 22px;
    height: 22px;
    fill: #EC4F43;
}
