.burger {
    display: block;
    border: none;
    background-color: transparent;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 1000;

    outline: none;
}

.burger span {
    width: 100%;
    height: 2px;
    position: absolute;
    top: 9px;
    left: 0;
    background-color: #ffffff;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.burger::before,
.burger::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    background-color: #fff;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.burger::before {
    top: 0;
}

.burger::after {
    bottom: 0;
}

.burger.active::before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 9px;
}

.burger.active span {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.burger.active::after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: 9px;
}
